
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Itim', sans-serif;
}

body {
  margin: 30px;
  height: 100px;
  background-color: lightblue;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
ul {
    padding: 20px;
}

.user-list {
    display: flex;
    flex-direction: column;
}